body {
    background-color: #282c34;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 20px;
    color: deepskyblue;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
}

.counter-set, .container-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid deepskyblue;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 250px;
}

.counter-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.set-values {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 20px;
}

.set-values > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

input {
    width: 50%;
    text-align: center;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    padding: 2px 5px;
    background: white;
    font-family: inherit;
    font-weight: bold;
}

.set-button-container, .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid deepskyblue;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.style-button {
    background-color: deepskyblue;
    color: #282c34;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.style-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #444;
}

.style-button:hover {
    background-color: cornflowerblue;
    color: #282c34;
}

.counter {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.max-value {
    color: red;
}

.input-error {
    background-color: #f8d7da;
    border: 2px solid red;
    color: red;
}