body {
    background-color: #282c34;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 20px;
    color: deepskyblue;
}

* {
    box-sizing: border-box;
}


.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
}


.container-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid deepskyblue;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    width: 100%;
    max-width: 400px;
    height: 350px;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid deepskyblue;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    width: 90%;
}


.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid deepskyblue;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
}

.max-value {
    color: red;
}

.counter-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid deepskyblue;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    width: 100%;
    max-width: 400px;
    height: 350px;
    gap: 20px;
}

.counter {
    font-size: 50px;
}

.set-values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    gap: 20px;
    border: 2px solid deepskyblue;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
}

.set-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #282c34;
    border: 2px solid deepskyblue;
    text-align: center;
    padding: 20px;
    width: 90%;
}

.style-button {
    background-color: deepskyblue;
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 10px;
}

.style-button:disabled {
    background-color: #282c34;
}

.max-input {
    margin-left: 10px;
    text-align: center;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    padding: 5px;
}

.start-input {
    margin-left: 10px;
    text-align: center;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    padding: 5px;
}
